//registry.npmjs.org/:_authToken=${NPM_TOKEN}
//benpm.mevris.io/:_authToken="+NBgvlveXdbAJfz+prdDmw=="

registry=https://registry.npmjs.org/
@mevris:registry=http://benpm.mevris.io
//benpm.mevris.io/:always-auth=true